body {font-family: Arial, Helvetica, sans-serif;}

.tableaubg {
    background-image: url('../images/Tableaubg.jpg');
    background-repeat: repeat;
}

.tabs {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

a {
    font-weight: 800;
    color: #343a40;
}

.subheader {float: right;}

.align {text-align: left;}

h1 {text-align: center;}

.common {position: absolute}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px darkslategray;
}

.mainbody {
    top: 116px;
    bottom: 64px;
    left: 16px;
    right: 16px;
}

.footer {
    bottom: 5px;
    height: 15px;
    left: 5px;
    right: 5px;
    font-size: 15px;
    text-align: center;
    position: fixed;
}

.subheader {float: right;}